name: Build APK THOR

on:
  workflow_dispatch:

jobs:
  build-apk:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          openjdk-17-jdk \
          python3-pip \
          git \
          zip \
          unzip

        pip install --upgrade pip
        pip install buildozer cython==0.29.36

    - name: Install Android SDK & NDK (25b)
      run: |
        mkdir -p $HOME/.buildozer/android/platform/android-sdk/cmdline-tools
        mkdir -p $HOME/.buildozer/android/platform/

        # Descargar NDK r25b
        wget https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
        unzip android-ndk-r25b-linux.zip -d $HOME/.buildozer/android/platform/

        # Descargar command line tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
        unzip commandlinetools-linux-9477386_latest.zip -d $HOME/.buildozer/android/platform/android-sdk/cmdline-tools/

        # Mover carpeta a la ruta esperada por Buildozer ("tools")
        mv $HOME/.buildozer/android/platform/android-sdk/cmdline-tools/cmdline-tools \
           $HOME/.buildozer/android/platform/android-sdk/cmdline-tools/tools

        yes | $HOME/.buildozer/android/platform/android-sdk/cmdline-tools/tools/bin/sdkmanager --sdk_root=$HOME/.buildozer/android/platform/android-sdk \
          "platform-tools" \
          "platforms;android-33" \
          "build-tools;33.0.2"

    - name: Build APK
      env:
        ANDROIDSDK: $HOME/.buildozer/android/platform/android-sdk
        ANDROIDNDK: $HOME/.buildozer/android/platform/android-ndk-r25b
        ANDROIDAPI: "33"
        ANDROIDMINAPI: "21"
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: THOR_APK
        path: bin/*.apk



